
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="container body-content" style='margin-top:15px'>
        <h4>登入後才可查詢資料</h4>
        <hr />
            <div class="form-group">
                <label for="account">帳號</label>
                <input type="text" class="form-control" id="account" placeholder="Enter account">
            </div>
            <div class="form-group">
                <label for="password">密碼</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button id="Confirm" class="btn btn-primary">登入</button>
        <div style='margin-top:15px'>
            <p>
                @Html.ActionLink("註冊為新使用者", "Register")
            </p>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $("#Confirm").click(function () {
            var account = $('#account').val();
            var password = $('#password').val();
            var accountleng = account.length;
            var passwordleng = password.length;

            if (accountleng > 10) {
                alert("帳號不可超過10個字");
                return false;
            }
            else if (accountleng == 0) {
                alert("帳號尚未輸入");
                return false;
            }

            if (passwordleng > 10) {
                alert("密碼不可超過10個字");
                return false;
            }
            else if (passwordleng == 0) {
                alert("密碼尚未輸入");
                return false;
            }

            location.href = '@Url.Action("LoginSubmit")' + '?account=' + account + '&password=' + password ;

        });
    });
</script>